
.listing_container
{
	padding-bottom: 92px;
	background: #ffffff;
}
.listing_tabs
{
	background: #e9f0f6;
	padding-left: 23px;
	padding-right: 23px;
}
.tab_content
{
	height: 101px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: solid 3px transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab [type=radio]
{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
}
.tab [type=radio]:checked ~ .tab_content
{
	border-bottom: solid 3px #adc867;
}
.tab label
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
	margin-bottom: 0;
}
.tab_content span
{
	font-size: 14px;
	font-weight: 700;
	color: #6c7079;
	text-transform: uppercase;
	margin-left: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover .tab_content span,
.tab [type=radio]:checked ~ .tab_content span
{
	color: #2b2e35;
}
.tab_icon
{
	width: 30px;
	height: 30px;
}
.tab_icon svg,
.tab_icon img
{
	max-width: 100%;
	max-height: 100%;
}
.svg path, .svg rect, .svg polygon
{
    fill: #b6c9d9;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.tab:hover .tab_content .tab_icon .svg path,
.tab [type=radio]:checked ~ .tab_content .tab_icon .svg path,
.tab:hover .tab_content .tab_icon .svg rect,
.tab [type=radio]:checked ~ .tab_content .tab_icon .svg rect,
.tab:hover .tab_content .tab_icon .svg polygon,
.tab [type=radio]:checked ~ .tab_content .tab_icon .svg polygon
{
	fill: #adc867;
}
.about
{
	padding-top: 92px;
}
.tag_price
{
	display: inline-block;
	height: 37px;
	padding-left: 27px;
	padding-right: 26px;
	background: #ff006c;
	line-height: 37px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.listing_name
{
	margin-top: 22px;
}
.listing_location
{
	margin-top: 11px;
	padding-left: 1px;
}
.listing_location img
{
	margin-top: -6px;
}
.listing_location span
{
	font-size: 16px;
	font-weight: 600;
	color: #6c7079;
	margin-left: 25px;
}
.listing_list
{
	margin-top: 35px;
}
.listing_list ul li
{
	font-size: 14px;
	font-weight: 600;
	color: #a2b0bf;
}
.listing_list ul li:not(:last-of-type)
{
	margin-bottom: 9px;
}
.prop_agent
{
	margin-top: 31px;
}
.prop_agent_image
{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	overflow: hidden;
}
.prop_agent_name
{
	margin-left: 15px;
	color: #6c7079;
	font-weight: 600;
}
.prop_agent_name a
{
	font-size: 14px;
	font-weight: 600;
	color: #adc867;
}
.prop_info
{
	padding-top: 24px;
	padding-bottom: 12px;
	margin-top: 6px;
}
.prop_info ul li
{
	margin-bottom: 20px;
}
.prop_info ul li:not(:last-of-type)
{
	margin-right: 40px;
}
.prop_info ul li > div
{
	padding-left: 15px;
}
.prop_info ul li > div > div
{
	font-weight: 600;
	color: #6c7079;
	line-height: 0.75;
}
.prop_info ul li > div > div:first-of-type
{
	font-size: 19.2px;
}
.prop_info ul li > div > div:last-of-type
{
	font-size: 12px;
	margin-top: 9px;
}
.about_text
{
	padding-top: 124px;
}
.listing_features
{
	margin-top: 54px;
}
.listing_title h3
{
	font-weight: 700;
}
.listing_features ul
{
	margin-top: 29px;
}
.listing_features ul li
{
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 600;
	color: #6c7079;
	padding-left: 30px;
}
.listing_features ul li:nth-child(odd)
{
	background: #e9f0f6;
}
.listing_video
{
	margin-top: 54px;
}
#colorbox
{
    background-color: #000000;
}
.map
{
	width: 100%;
}

.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
