<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
<div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">

                    <img class="img-fluid" src="{{img1}}" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Bloom Field</span>
                        <br>
                    <span class="card-detail-badge">Starting 1.5 Cr</span>

                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5> </h5>
                    </div>
                    <a class="ad-btn" href="#"  [routerLink]='["view"]'>View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">

                    <img class="img-fluid" src="{{img2}}" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">Orchid Homes</span>
                    <br>
                    <span class="card-detail-badge">Startring 78 Lakh </span>

                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5> </h5>
                    </div>
                    <a class="ad-btn" href="#" [routerLink]='["/viewpera,viewpera.view"]'>View</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">

                    <img class="img-fluid" src="{{img3}}" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">River View</span>
                        <br>
                    <span class="card-detail-badge">Starting 55 Lakh</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5> </h5>
                    </div>
                    <a class="ad-btn" href="#">View</a>
                </div>
            </div>
        </div>

    </div>
    </div>